<nav id="main-menu">

</nav>

<section id="header">

</section>
<section id="content"></section>
<div id="product-details-window">
    <div id="product-details-close">X</div>
    <div id="product-details"></div>
</div>